.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.is-done {
  opacity: 0.5;
}
​.active-filter {
  background-color: #2c556a;
}
​.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}